In [1]:
import logging
import os
import sys
from io import BytesIO
import pandas as pd
import requests
from datetime import date, timedelta, datetime
from collections import Counter
import numpy as np
import json
from astroquery.vizier import Vizier
import astropy.units as u
from astropy.coordinates import SkyCoord
from tqdm import tqdm
import time
from astropy.table import Table

In [2]:
from desimodel.footprint import is_point_in_desi

In [3]:
TNS_API_KEY= '006e7e40b06030997b93b0d0cf0973e56c408875'  # Works on real and sandbox now
TNS_BOT_NAME = 'DESIRT_Bot'
TNS_BOT_ID = 105220

In [4]:
CATALOG_URL = 'https://www.wis-tns.org/system/files/tns_public_objects/tns_public_objects.csv.zip'

In [5]:
def download_table():
    with requests.post(
        CATALOG_URL,
        headers={
            'user-agent': 'tns_marker{{"tns_id":"{id}","type": "bot", "name":"{name}"}}'.format(
                id=TNS_BOT_ID,
                name=TNS_BOT_NAME,
            )
        },
        data={
            'api_key': (None, TNS_API_KEY)
        },
    ) as response:
        return response.content

In [6]:
data = download_table()

In [7]:
df = pd.read_csv(
        BytesIO(data),
        skiprows=1,
        compression='zip',
    )

In [8]:
date.today()

datetime.date(2024, 12, 7)

In [9]:
df["creationdate"] = pd.to_datetime(df["creationdate"])
df["lastmodified"] = pd.to_datetime(df["lastmodified"])

In [10]:
now = datetime.now()
last_week = now - timedelta(days=7)

In [11]:
last_week_rows = df[df['lastmodified'] > last_week]

In [12]:
last_week_rows.columns

Index(['objid', 'name_prefix', 'name', 'ra', 'declination', 'redshift',
       'typeid', 'type', 'reporting_groupid', 'reporting_group',
       'source_groupid', 'source_group', 'discoverydate', 'discoverymag',
       'discmagfilter', 'filter', 'reporters', 'time_received',
       'internal_names', 'Discovery_ADS_bibcode', 'Class_ADS_bibcodes',
       'creationdate', 'lastmodified'],
      dtype='object')

In [13]:
last_week_visible = last_week_rows.iloc[np.where(last_week_rows["declination"] > -30)]

In [14]:
t = Table.read("/global/cfs/cdirs/desi/survey/ops/surveyops/trunk/ops/tiles-main.ecsv")
sel = (t["IN_DESI"]) & (t["STATUS"] == "unobs")
sel &= (t["PROGRAM"] == "BRIGHT") | (t["PROGRAM"] == "DARK")
t = t[sel]

In [15]:
last_week_visible_tile_tf = is_point_in_desi(t, last_week_visible["ra"], last_week_visible["declination"])

In [16]:
last_week_visible_tile = last_week_visible.iloc[last_week_visible_tile_tf]

In [17]:
def is_close(distance, brightness):
    print(distance)
    print(brightness)
    print((10 / (brightness - 3)))
    print(np.log10(distance))
    return ((10 / (brightness - 3)) > np.log10(distance))

In [18]:
def get_bright_star(sky_object, cone = 5*u.arcsec):
    result = Vizier.query_region(sky_object,
                             radius=cone,
                             catalog='I/355/gaiadr3',
                             column_filters={'Gmag': '<15'})
    if len(result) == 0:
        return False
    return len(result[0]) > 0

In [19]:
too_close = []
for i in tqdm(SkyCoord(last_week_visible_tile["ra"], last_week_visible_tile["declination"], frame = "icrs", equinox = 'J2000', unit="deg")):
    too_close.append(get_bright_star(i))
    time.sleep(2.1)

100%|██████████| 264/264 [09:26<00:00,  2.14s/it]

In [20]:
too_close = np.asarray(too_close)

In [21]:
last_week_visible_seperate = last_week_visible_tile.iloc[np.where(too_close == False)]

In [22]:
Counter(last_week_visible_seperate["reporting_group"])

Counter({'ZTF': 78,
         'ALeRCE': 68,
         'Pan-STARRS': 45,
         'ATLAS': 36,
         'GOTO': 9,
         'YSE': 8,
         'GaiaAlerts': 7,
         'XOSS': 6,
         'BlackGEM': 2,
         'MASTER': 2,
         'LAST': 1,
         'TRAPUM': 1})

In [23]:
last_week_visible_seperate.iloc[np.where(last_week_visible_seperate["reporting_group"] == "ZTF")]["internal_names"]

0                                      ZTF24abwswlw
30                       ZTF18aaqclsd, ZTF24abwqvsu
33                         ZTF24abuyefl, ATLAS24qzg
38              ZTF24abttkmr, ATLAS24qvu, GOTO24iry
49     ZTF24abhzafp, ATLAS24qdm, GOTO24iru, PS24mhd
                           ...
751                                    ZTF21aagjqjt
787                        ZTF24absdoug, ATLAS24qmb
790                ZTF24ablscwt, GOTO24hjr, PS24lvj
819    ZTF24abfwmpi, GOTO24ftj, ATLAS24oce, PS24lyu
838    ZTF24abcviys, GOTO24fgy, ATLAS24nxo, PS24lxa
Name: internal_names, Length: 78, dtype: object

In [24]:
last_week_visible_seperate

,objid,name_prefix,name,ra,declination,redshift,typeid,type,reporting_groupid,reporting_group,...,discoverymag,discmagfilter,filter,reporters,time_received,internal_names,Discovery_ADS_bibcode,Class_ADS_bibcodes,creationdate,lastmodified
0,168011,AT,2024adnb,221.411091,41.547234,NaN,NaN,NaN,48.0,ZTF,...,20.1999,110.0,g,K. De (Caltech) on behalf of ZTF,2024-12-07 00:00:19,ZTF24abwswlw,NaN,NaN,2024-12-07 00:00:30,2024-12-07 00:00:30
6,168005,AT,2024admv,217.687117,59.424236,NaN,NaN,NaN,74.0,ALeRCE,...,19.9734,110.0,g,"A. Munoz-Arancibia, F.E. Bauer, G. Pignata, F....",2024-12-06 22:40:18,ZTF24abwcufa,NaN,NaN,2024-12-06 22:40:38,2024-12-06 22:40:38
9,168002,AT,2024adms,157.155647,4.292048,NaN,NaN,NaN,74.0,ALeRCE,...,20.8074,111.0,r,"A. Munoz-Arancibia, F.E. Bauer, G. Pignata, F....",2024-12-06 22:40:18,ZTF24abwsqff,NaN,NaN,2024-12-06 22:40:34,2024-12-06 22:40:34
10,168001,AT,2024admr,169.003729,38.027496,NaN,NaN,NaN,74.0,ALeRCE,...,19.8357,110.0,g,"A. Munoz-Arancibia, F.E. Bauer, G. Pignata, F....",2024-12-06 22:40:18,ZTF24abwstll,NaN,NaN,2024-12-06 22:40:33,2024-12-06 22:40:33
12,167999,AT,2024admp,215.928240,55.279847,NaN,NaN,NaN,74.0,ALeRCE,...,19.4123,110.0,g,"A. Munoz-Arancibia, F.E. Bauer, G. Pignata, F....",2024-12-06 22:40:18,ZTF24abwsvqt,NaN,NaN,2024-12-06 22:40:31,2024-12-06 22:40:31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,160880,AT,2024tzl,52.759846,-24.711178,NaN,NaN,NaN,59.0,GOTO,...,19.2600,120.0,L,"D. O'Neill, K. Ackley, M. Dyer, F. Jiménez-Iba...",2024-08-31 08:25:10,"GOTO24fgi, ZTF24abgghrc, PS24mag",2024TNSTR3201....1O,NaN,2024-08-31 08:25:10,2024-11-30 23:57:44
838,160776,AT,2024tvm,20.840910,-13.365197,NaN,NaN,NaN,48.0,ZTF,...,19.6358,110.0,g,"William Wu (UC Berkeley), Daniel Perley (LJMU)...",2024-08-29 12:32:30,"ZTF24abcviys, GOTO24fgy, ATLAS24nxo, PS24lxa",2024TNSTR3167....1W,NaN,2024-08-29 12:32:32,2024-11-30 23:22:25
840,160758,SN,2024tuu,248.583413,25.053241,0.051,3.0,SN Ia,74.0,ALeRCE,...,20.6176,110.0,g,"A. Munoz-Arancibia, G. Pignata, F.E. Bauer, F....",2024-08-28 20:24:13,"ZTF24abddplf, GOTO24fqy, ATLAS24ocg, PS24lxe",2024TNSTR3126....1M,2024TNSCR3800....1C,2024-08-28 20:24:25,2024-11-30 23:24:21
855,157610,SN,2024pll,22.140581,14.798906,0.046,11.0,SN IIP,18.0,ATLAS,...,19.3980,72.0,orange,"J. Tonry, L. Denneau, H. Weiland, A. Lawrence,...",2024-07-14 10:30:01,"ATLAS24lfc, GOTO24dpi, ZTF24aaxqoeo, PS24man",2024TNSTR2429....1T,2024TNSCR3366....1R,2024-07-14 10:30:02,2024-11-30 23:59:49
856,152478,AT,2024kgg,2.917314,24.779258,NaN,NaN,NaN,18.0,ATLAS,...,19.1060,72.0,orange,"J. Tonry, L. Denneau, H. Weiland, A. Lawrence,...",2024-06-04 06:44:51,"ATLAS24ios, GOTO24cpr, PS24lvx",2024TNSTR1788....1T,NaN,2024-06-04 06:44:52,2024-11-30 23:13:12

In [25]:
now.date().year

2024

In [26]:
last_week_visible_seperate.to_csv("TNS_ToO/ToO_Objects-{}{:02d}{:02d}.csv".format(now.date().year, now.date().month, now.date().day), index = False)

In [27]:
print("python build_ledger.py TNS_ToO/ToO_Objects-{}{:02d}{:02d}.csv -o TNS_ToO/ToO-input-{}{:02d}{:02d}.ecsv".format(now.date().year, now.date().month, now.date().day, now.date().year, now.date().month, now.date().day))

python build_ledger.py TNS_ToO/ToO_Objects-20241207.csv -o TNS_ToO/ToO-input-20241207.ecsv

cd /pscratch/sd/a/adamyers/ToO/segev_put_it_here

In [28]:
print("cat ~/xhall/GitHub/DESI-ALERCE/TNS_ToO/ToO-input-{}{:02d}{:02d}.ecsv >> ToO-input.ecsv".format(now.date().year, now.date().month, now.date().day))

cat /hildafs/home/xhall/GitHub/DESI-ALERCE/TNS_ToO/ToO-input-20241207.ecsv >> ToO-input.ecsv