In [215]:
import logging
import os
import sys
from io import BytesIO
import pandas as pd
import requests
from datetime import date, timedelta, datetime
from collections import Counter
import numpy as np
from dotenv import load_dotenv
from tns_api import get_object
import json
from astroquery.vizier import Vizier
import astropy.units as u
from astropy.coordinates import SkyCoord
from tqdm import tqdm
import time

In [2]:
load_dotenv()

True

In [3]:
TNS_API_KEY= os.getenv("api_key")  # Works on real and sandbox now
TNS_BOT_NAME = os.getenv("name")
TNS_BOT_ID = os.getenv("tns_id")

In [4]:
CATALOG_URL = 'https://www.wis-tns.org/system/files/tns_public_objects/tns_public_objects.csv.zip'

In [5]:
def download_table():
    with requests.post(
        CATALOG_URL,
        headers={
            'user-agent': 'tns_marker{{"tns_id":"{id}","type": "bot", "name":"{name}"}}'.format(
                id=TNS_BOT_ID,
                name=TNS_BOT_NAME,
            )
        },
        data={
            'api_key': (None, TNS_API_KEY)
        },
    ) as response:
        return response.content

In [6]:
data = download_table()

In [7]:
df = pd.read_csv(
        BytesIO(data),
        skiprows=1,
        compression='zip',
    )

In [8]:
date.today()

datetime.date(2024, 11, 26)

In [9]:
df["creationdate"] = pd.to_datetime(df["creationdate"])
df["lastmodified"] = pd.to_datetime(df["lastmodified"])

In [10]:
now = datetime.now()
last_week = now - timedelta(days=7)

In [11]:
last_week_rows = df[df['lastmodified'] > last_week]

In [12]:
last_week_rows.columns

Index(['objid', 'name_prefix', 'name', 'ra', 'declination', 'redshift',
       'typeid', 'type', 'reporting_groupid', 'reporting_group',
       'source_groupid', 'source_group', 'discoverydate', 'discoverymag',
       'discmagfilter', 'filter', 'reporters', 'time_received',
       'internal_names', 'Discovery_ADS_bibcode', 'Class_ADS_bibcodes',
       'creationdate', 'lastmodified'],
      dtype='object')

In [13]:
last_week_visible = last_week_rows.iloc[np.where(last_week_rows["declination"] > -30)]

In [210]:
def is_close(distance, brightness):
    return ((10 / (brightness - 3)) > np.log10(distance))

In [213]:
def get_bright_star(sky_object, cone = 5*u.arcmin):
    result = Vizier.query_region(sky_object,
                             radius=cone,
                             catalog='I/355/gaiadr3',
                             column_filters={'Gmag': '<19'})[0]
    positions = SkyCoord(result[0]["RA_ICRS"], result[0]["DE_ICRS"], frame = "icrs", equinox = 'J2016', unit="deg")
    distances = sky_object.separation(positions).arcsec
    bool_close = is_close(distances, result[0]["Gmag"])
    return np.sum(bool_close) > 0

In [216]:
too_close = []
for i in tqdm(SkyCoord(last_week_visible["ra"], last_week_visible["declination"], frame = "icrs", equinox = 'J2000', unit="deg")):
    too_close.append(get_bright_star(i))
    time.sleep(2)

100%|██████████| 444/444 [23:36<00:00,  3.19s/it]

In [222]:
test_row = last_week_visible.iloc[np.where(last_week_visible["internal_names"] == "ZTF24abtzewb")]
test_position = SkyCoord(test_row["ra"], test_row["declination"], frame = "icrs", equinox = 'J2000', unit="deg")

In [14]:
Counter(last_week_rows["reporting_group"])

Counter({'ATLAS': 94,
         'YSE': 20,
         'ALeRCE': 62,
         'GOTO': 51,
         'MASTER': 6,
         'BlackGEM': 10,
         'ZTF': 166,
         'GaiaAlerts': 75,
         'SGLF': 2,
         'XOSS': 8,
         'Pan-STARRS': 63,
         nan: 2,
         'PALEO': 1})

In [15]:
last_week_visible.iloc[np.where(last_week_visible["reporting_group"] == "ZTF")]["internal_names"]

18                            ZTF24abtlsjj
20                            ZTF24abtzczp
37                ZTF24abttoau, ATLAS24qoc
38                            ZTF24abttqoh
43                            ZTF24abtzewb
                      ...
544                           ZTF24aapgwjh
547    ZTF24absoxlw, ATLAS24qha, GOTO24ijv
549               ZTF24abrpqhh, ATLAS24qes
550               ZTF24abrophb, ATLAS24qbp
580    ZTF24abrorvi, ATLAS24qcj, GOTO24ien
Name: internal_names, Length: 166, dtype: object

In [16]:
last_week_visible

,objid,name_prefix,name,ra,declination,redshift,typeid,type,reporting_groupid,reporting_group,...,discoverymag,discmagfilter,filter,reporters,time_received,internal_names,Discovery_ADS_bibcode,Class_ADS_bibcodes,creationdate,lastmodified
0,167100,AT,2024acel,121.975400,62.021927,NaN,NaN,NaN,18.0,ATLAS,...,19.1040,72.0,orange,"J. Tonry, L. Denneau, H. Weiland, R. Siverd (I...",2024-11-25 23:50:59,ATLAS24qpa,NaN,NaN,2024-11-25 23:51:01,2024-11-25 23:51:01
2,167098,AT,2024acej,57.039598,10.269078,NaN,NaN,NaN,18.0,ATLAS,...,18.7080,72.0,orange,"J. Tonry, L. Denneau, H. Weiland, R. Siverd (I...",2024-11-25 23:01:36,ATLAS24qow,NaN,NaN,2024-11-25 23:01:38,2024-11-25 23:01:38
4,167096,AT,2024aceh,224.082663,47.405768,NaN,NaN,NaN,18.0,ATLAS,...,17.4670,72.0,orange,"J. Tonry, L. Denneau, H. Weiland, R. Siverd (I...",2024-11-25 22:53:43,ATLAS24qoo,NaN,NaN,2024-11-25 22:53:44,2024-11-25 22:53:44
5,167095,AT,2024aceg,17.076232,-17.771290,NaN,NaN,NaN,18.0,ATLAS,...,19.1680,71.0,cyan,"J. Tonry, L. Denneau, H. Weiland, R. Siverd (I...",2024-11-25 22:53:26,ATLAS24qon,NaN,NaN,2024-11-25 22:53:27,2024-11-25 22:53:27
6,167069,AT,2024acef,29.208244,-15.560037,NaN,NaN,NaN,83.0,YSE,...,20.0600,58.0,i,"D. O. Jones (UC Santa Cruz), K. D. French (Car...",2024-11-25 20:00:30,PS24llh,NaN,NaN,2024-11-25 20:00:31,2024-11-25 20:00:31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555,166615,AT,2024abmw,346.776467,-17.094389,NaN,NaN,NaN,18.0,ATLAS,...,18.3190,72.0,orange,"J. Tonry, L. Denneau, H. Weiland, R. Siverd (I...",2024-11-19 18:35:12,ATLAS24qgs,2024TNSTR4541....1T,NaN,2024-11-19 18:35:13,2024-11-19 18:35:13
556,166613,AT,2024abmu,39.172042,-13.135389,NaN,NaN,NaN,60.0,BlackGEM,...,20.2400,118.0,BG-q,"H. Tranin, F. Stoppa, D. Pieterse, G. Ramsay, ...",2024-11-19 18:12:02,"BGEM J023641.28-130807.3, PS24lgq",2024TNSTR4542....1T,NaN,2024-11-19 18:12:03,2024-11-19 18:12:03
557,166612,AT,2015fw,203.726971,10.984636,0.057,NaN,NaN,0.0,NaN,...,17.5000,12.0,V,"G. Masi (Virtual Telescope Project, Ceccano, I...",2024-11-19 17:20:30,ASASSN-15ua,2024TNSTR4544....1M,NaN,2024-11-19 17:20:31,2024-11-19 17:20:31
580,166111,SN,2024aatr,152.621700,3.766697,0.030,3.0,SN Ia,48.0,ZTF,...,19.8314,110.0,g,"Daniel Perley (LJMU), Christoffer Fremling (Ca...",2024-11-09 13:22:43,"ZTF24abrorvi, ATLAS24qcj, GOTO24ien",2024TNSTR4403....1P,"2024TNSCR4445....1P, 2024TNSCR4447....1F",2024-11-09 13:22:44,2024-11-19 20:31:26
581,166077,SN,2024aask,150.061275,10.452131,0.139,3.0,SN Ia,74.0,ALeRCE,...,19.7911,110.0,g,"A. Munoz-Arancibia, F.E. Bauer, G. Pignata, F....",2024-11-08 17:50:05,"ZTF24abriexo, GOTO24iep, BGEM J100014.70+10270...",2024TNSTR4378....1M,2024TNSCR4548....1S,2024-11-08 17:50:07,2024-11-19 18:34:52

In [17]:
last_week_visible.to_csv("ToO_Objects.csv", index = False)